bbody, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Verhindert Scrollen durch den Benutzer */
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  width: 100%;
  height: 100vh;  /* Jeder Abschnitt nimmt die gesamte Höhe des Viewports ein */
  display: flex;
  justify-content: flex-start; /* Horizontale Ausrichtung bleibt zentriert */
  align-items: flex-start; /* Vertikale Ausrichtung nach oben verschieben */
  padding: 40px 20px; /* Optional: Padding oben, um Abstand zum oberen Rand hinzuzufügen */
  text-align: center;
  box-sizing: border-box;
  position: absolute;  /* Macht es möglich, Abschnitte übereinander zu stapeln */
  top: 0;
  left: 0;
  transition: transform 0.5s ease; /* Weiche Übergänge */
  background-size: cover;  /* Deckt den gesamten Abschnitt ab */
  background-position: center;  /* Bild wird zentriert */
}

.content {
  max-width: 800px;
  color: rgb(0, 0, 0);  /* Textfarbe anpassen für bessere Lesbarkeit */
}

#section1 {
  background-image: url('images/2.png');  /* Platzhalterbild */
}

#section2 {
  background-image: url('images/3.png');  /* Platzhalterbild */
}

#section3 {
  background-image: url('images/5.png');  /* Platzhalterbild */
}

#section4 {
  background-image: url('images/6.png');  /* Platzhalterbild */
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
}
